NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=X1SEpK47fKQA5HjZKQIWuQqFPN9q2ZgjWdDgIIYi
NOVA_API_DB_HOST=10.10.10.254
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=2eOFqKQYrr38dtLxQxQDdMP28vY2za8vJpJ24Vmz
PLACEMENT_DB_HOST=10.10.10.254
